body
{
	margin: 0;
	font-family: poppins;
}

ul
{
	list-style: none;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

ul li
{
	position: absolute;
	width: 25%;
	height: 100%;
	text-align: center;
	line-height: 600px;
	font-size: 50px;
	transition: .7s;
	z-index: 1;
}

ul li:hover
{
	background: deeppink;
	opacity: .5;
	color: #fff;
}

ul li:nth-child(2)
{
	left: 25%;
}

ul li:nth-child(3)
{
	left: 50%;
}

ul li:nth-child(4)
{
	left: 75%;
}

.box
{
	position: absolute;
	width: 100%;
	height: 100%;
	background: red;
	background-size: cover;
	background-position: center; 
}

ul li:nth-child(2):hover ~ .box
{
	background: blue;
	background-position: center;
	background-size: cover;
}

ul li:nth-child(3):hover ~ .box
{
	background: yellow;
	background-position: center;
	background-size: cover;
}

ul li:nth-child(4):hover ~ .box
{
	background: green;
	background-position: center;
	background-size: cover;
}